.swiper {
    width: 100vw;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px !important;
    
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
}

