body {
    margin: 0;
    overflow-x: hidden;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

@media only screen and (min-width: 580px) {
    .home-page-container {
        width: 97.8vw;
    }
}
