@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --primary-color: #232323;
    --secondary-color: white ;
    --font: font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}