@import url('/src/config/colors.css');

.searchBar-button {
    display: flex;
    position: fixed;
    top: 63px;
    z-index: 55;
    width: 100vw;
    height: 64px;
    background-color: var(--primary-color);
    transition: 320ms;
    
}

.searchBar-button-active {
    position: fixed;
    top: -100px;
    transition: 320ms;
}

.searchBar-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#searchBar-input {
    width: 90%;
    height: 32px;
    border-radius: 4px;
    border-width: 0;
}